footer
  .container.text-center
    p.pull-left © 2015 Adopt Team
    ul.pull-right.list-inline
      li
        a(href='https://github.com/adoptathing/adopt') Source
      li
        a(href='https://github.com/adoptathing/adopt/issues') Issues
