footer
  .container.text-center
    p.pull-left © No one. Do whatever you want!
    ul.pull-right.list-inline
      li
        a(href='https://github.com/cnwalker/adopt') Source
      li
        a(href='https://github.com/cnwalker/adopt/issues') Issues
